# M1L5 Pandas Part 2 Data Challenge:  EDA

## Scenario

We'll be working with a real-world dataset from the NYC Open Data portal, focusing on the leading causes of death in New York City (same as data challenge 4). This dataset provides valuable insights into public health trends and disparities. Understanding this data is crucial for community advocacy and policy-making.

For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 
- Group and Aggregate Data
- Create a contingency table with `crosstab()`
- Check for duplicated data (remember not all duplicated data needs to be dropped)

**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [69]:
# Import Pandas & Numpy
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. The file is called:  `nyc_causeofdeath.csv`

In [70]:
df = pd.read_csv('nyc_causeofdeath.csv')

### Step 3: Check the information of the data (column names, data types, size, etc.)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   1094 non-null   object
 5   Death Rate               1094 non-null   object
 6   Age Adjusted Death Rate  1094 non-null   object
dtypes: int64(1), object(6)
memory usage: 60.0+ KB

### Step 4:  We need to change Deaths from an object to an integer so that we can do some MATH (you will learn this officially later) for now just run the cell below.

In [72]:
#Run this cell without changes 
df['Deaths'] = df['Deaths'].replace('.', np.nan)
df['Deaths'] = pd.to_numeric(df['Deaths'])

### Step 5:  Create code to get the sum of deaths by Sex -- what Sex has the most deaths based on this data (add a comment in the cell with your answer)

In [73]:
deaths_by_sex = df.groupby("Sex")['Deaths'].sum() # Group by sex then sum Deaths
print(deaths_by_sex)

Sex
F    217071.0
M    207927.0
Name: Deaths, dtype: float64

### Step 6:  Now create a contingency table (using `crosstab()`) of the Leading Cause of Death by Sex -- put a comment in the cell of a takeaway from the output

In [74]:
cause_by_sex=pd.crosstab(df['Leading Cause'], df['Sex'])
cause_by_sex

Sex                                                  F   M
Leading Cause
Accidents Except Drug Posioning (V01-X39, X43, ...  35  45
All Other Causes                                    48  48
Alzheimer's Disease (G30)                           31   1
Aortic Aneurysm and Dissection (I71)                 2   1
Assault (Homicide: Y87.1, X85-Y09)                   3  17
Atherosclerosis (I70)                                3   0
Cerebrovascular Disease (Stroke: I60-I69)           48  42
Certain Conditions originating in the Perinatal...  13  13
Chronic Liver Disease and Cirrhosis (K70, K73)       8  21
Chronic Lower Respiratory Diseases (J40-J47)        45  43
Congenital Malformations, Deformations, and Chr...   6   2
Diabetes Mellitus (E10-E14)                         47  45
Diseases of Heart (I00-I09, I11, I13, I20-I51)      48  48
Essential Hypertension and Renal Diseases (I10,...  46  29
Human Immunodeficiency Virus Disease (HIV: B20-...  17  26
Influenza (Flu) and Pneumonia (J09-J18)             48  48
Insitu or Benign / Uncertain Neoplasms (D00-D48)     5   0
Intentional Self-Harm (Suicide: X60-X84, Y87.0)     12  26
Malignant Neoplasms (Cancer: C00-C97)               48  48
Mental and Behavioral Disorders due to Accident...  12  27
Mental and Behavioral Disorders due to Use of A...   0   2
Nephritis, Nephrotic Syndrome and Nephrisis (N0...  14   3
Parkinson's Disease (G20)                            1   0
Septicemia (A40-A41)                                11   2
Tuberculosis (A16-A19)                               1   0
Viral Hepatitis (B15-B19)                            2   3

### Step 7:  Are there any duplicate records in this dataset?  Code it below and add a comment with your answer

In [75]:
df.duplicated()
df.drop_duplicates()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11.0,.,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70.0,.,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213.0,25,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,NaN,.,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852.0,176.5,148.4
...,...,...,...,...,...,...,...
1089,2013,All Other Causes,M,White Non-Hispanic,2293.0,170.3,143.3
1090,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,94.0,.,.
1091,2008,Human Immunodeficiency Virus Disease (HIV: B20...,M,Not Stated/Unknown,9.0,.,.
1092,2010,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,149.0,13,23.9
1093,2013,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,93.0,8.9,7.6

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [76]:
print(df.groupby('Year')['Deaths'].max())

Year
2007    7050.0
2008    6836.0
2009    6297.0
2010    5351.0
2011    5016.0
2012    4719.0
2013    4535.0
2014    4507.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  Why would you want to do this?

In [77]:
df['Death Rate'] = df['Death Rate'].replace('.','0')
df['Death Rate'].astype(float)

# Would want to do this because it's a rate so it's likely going to be a number with decimals

0         0.0
1         0.0
2        25.0
3         0.0
4       176.5
        ...
1089    170.3
1090      0.0
1091      0.0
1092     13.0
1093      8.9
Name: Death Rate, Length: 1094, dtype: float64