## üõ†Ô∏è Mod5 Data Challenge 6: Segmentation & RFM


**Why this activity?**  
You will practice building **RFM segmentation** from real e-commerce transactions to answer: *Who are our best customers, who is at risk, and who should we win back?*

**Dataset:** UCI Online Retail II (Excel, 2009‚Äì2011). 

**Goals ‚Äî You will be able to:**
1) Load and minimally prepare real transaction data for RFM.  
2) Compute **Recency, Frequency, Monetary** per customer.  
3) Score and label simple **RFM segments**.  
4) Interpret segments into **business actions**.

**Interview practice:**
- **Q1:** Give two concrete actions you‚Äôd take from an RFM analysis.  
- **Q2:** How would you adapt RFM for a product with no revenue (e.g., a music app)?

### üë©‚Äçüè´ Instructor-Led Demo (20 minutes)

### Step 1 ‚Äî Load the Online Retail II Excel and prepare fields

We will:
1) Read both sheets from the Excel file and concatenate.  
2) Parse dates.  
3) Drop rows with missing **CustomerID** (needed for RFM).  
4) Create **activity_date** alias from `InvoiceDate`.  
5) Create **line_total = Quantity * UnitPrice** (we‚Äôll use positive line totals for Monetary).

**Speaker Notes:**  
We keep setup minimal. For **Monetary**, we‚Äôll use **positive line totals only** to avoid refunds/returns making negative spend dominate segments. In production, you‚Äôd decide whether to net refunds or keep separate KPIs.

In [24]:
# import packages per usual 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import timedelta

In [25]:
#YOU'VE SEEN THIS CODE ALREADY :) 

# Path to your downloaded Excel file
DATA_PATH = '/Users/Marcy_Student/Desktop/Marcy_Lab/DA2025_Lectures/Mod5/DataChallenges/data/online_retail_II.xlsx'

# 1) Read both sheets and concatenate
sheets = ["Year 2009-2010", "Year 2010-2011"]
df_list = [pd.read_excel(DATA_PATH, sheet_name=s, engine="openpyxl") for s in sheets]
df = pd.concat(df_list, ignore_index=True)

# 2) Parse datetime
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

# 3) Drop missing CustomerID (required to build RFM)
df = df.dropna(subset=["Customer ID"]).copy()
df["Customer ID"] = df["Customer ID"].astype(int)

# 4) Activity date alias
df["activity_date"] = df["InvoiceDate"]

# 5) Line total (Monetary basis uses positive spend only)
df["line_total"] = df["Quantity"] * df["Price"]
snapshot_date = df["InvoiceDate"].max().normalize() + pd.Timedelta(days=1)

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,activity_date,line_total
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,2009-12-01 07:45:00,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,2009-12-01 07:45:00,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,2009-12-01 07:45:00,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,2009-12-01 07:45:00,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,2009-12-01 07:45:00,30.0

### Step 2 ‚Äî Select a market and compute RFM
We will:  
1) Filter to `Country == "United Kingdom"`  
2) Compute:  
   - **Recency**: days since last invoice  
   - **Frequency**: # of unique invoices per customer  
   - **Monetary**: total revenue per customer (can be negative if net refunds)

**Speaker Notes:**  
Frequency as **unique invoices** avoids inflating frequent line items on the same order.

In [27]:
df_uk = df[df["Country"] == 'United Kingdom']

rfm_uk = (
    df_uk.groupby("Customer ID")
          .agg(
              Recency=("InvoiceDate", lambda s: (snapshot_date - s.max()).days),
              Frequency=("Invoice", "nunique"),
              Monetary=("line_total", "sum")
          )
          .reset_index()
)

rfm_uk.head()

   Customer ID  Recency  Frequency  Monetary
0        12346      325         17    -64.68
1        12608      404          1    415.79
2        12745      486          2    723.85
3        12746      527          3    230.85
4        12747        2         32   9164.59

### Step 3 ‚Äî Score R, F, M and label segments
We will:  
1) Score each metric into **quartiles** (1‚Äì4)  
   - **Recency**: lower is better ‚Üí labels `[4,3,2,1]`  
   - **Frequency/Monetary**: higher is better ‚Üí labels `[1,2,3,4]`  
2) Combine to an **RFM_Score** (e.g., 443)  
3) Map simple labels (Champions, Loyal, At‚ÄëRisk, Lost)

**Speaker Notes:**  
Label rules are business‚Äëdefined. Keep logic simple and transparent.

In [28]:
# Avoid errors if too few unique values for qcut:
def safe_qcut(x, q, labels):
    try:
        return pd.qcut(x.rank(method="first"), q, labels=labels)
    except ValueError:
        # fallback: all middle score if not enough unique values
        return pd.Series([labels[len(labels)//2]] * len(x), index=x.index)

# Scores
r_scores = pd.qcut(rfm_uk["Recency"], 4, labels=[4,3,2,1])  # lower recency = better
f_scores = safe_qcut(rfm_uk["Frequency"], 4, labels=[1,2,3,4])
m_scores = safe_qcut(rfm_uk['Monetary'], 4, labels=[1,2,3,4])

rfm_uk["R_score"] = r_scores.astype(int)
rfm_uk["F_score"] = f_scores.astype(int)
rfm_uk["M_score"] = m_scores.astype(int)
rfm_uk["RFM_Score"] = rfm_uk['R_score'] + rfm_uk['F_score'] + rfm_uk["M_score"] 

# Simple labeler
def label_rfm(row):
    r,f,m = row["R_score"], row["F_score"], row["M_score"]
    if r>=3 and f>=3 and m>=3:
        return "Champions"
    if r>=3 and f>=2:
        return "Loyal"
    if r<=2 and f>=3 and m>=3:
        return "At-Risk Loyalists"
    if r<=2 and f<=2 and m<=2:
        return "Lost"
    return "Others"

rfm_uk["Segment"] = rfm_uk.apply(label_rfm, axis=1)

rfm_uk.head()

,Customer ID,Recency,Frequency,Monetary,R_score,F_score,M_score,RFM_Score,Segment
0,12346,325,17,-64.68,2,4,1,7,Others
1,12608,404,1,415.79,1,1,2,4,Lost
2,12745,486,2,723.85,1,1,2,4,Lost
3,12746,527,3,230.85,1,2,1,4,Lost
4,12747,2,32,9164.59,4,4,4,12,Champions

### Step 4 ‚Äî Summarize segments & propose actions

We will:  
1) Count customers per segment  
2) Compute total Monetary by segment (optional)  
3) List **actions** per segment (e.g., loyalty, win‚Äëback)

**Speaker Notes:**  
Tie segments to decisions (email, pricing, UX). Emphasize clarity over complexity.

In [29]:
seg_counts = rfm_uk["Segment"].value_counts().rename_axis("Segment").to_frame("Customers")
seg_value  = rfm_uk.groupby("Segment")["Monetary"].sum().to_frame("Total_Monetary").sort_values("Total_Monetary", ascending=False)

display(seg_counts)
display(seg_value)

# Example actions (as a dict, could be converted to a table)
segment_actions = {
    "Champions": "VIP perks, early access, referrals",
    "Loyal": "Tiered rewards, personalized recommendations",
    "At-Risk Loyalists": "Win-back offers, survey for friction",
    "Lost": "Exit survey, targeted reactivation",
    "Others": "Onboarding education, nudges"
}
segment_actions

                   Customers
Segment
Champions               1689
Lost                    1654
Others                   729
Loyal                    712
At-Risk Loyalists        626

                   Total_Monetary
Segment
Champions            1.071414e+07
At-Risk Loyalists    1.697792e+06
Others               5.053692e+05
Loyal                4.904536e+05
Lost                 3.986659e+05

{'Champions': 'VIP perks, early access, referrals',
 'Loyal': 'Tiered rewards, personalized recommendations',
 'At-Risk Loyalists': 'Win-back offers, survey for friction',
 'Lost': 'Exit survey, targeted reactivation',
 'Others': 'Onboarding education, nudges'}

### üë©‚Äçüè´ Student Led (30 minutes) -- ANSWER KEY

### Step 1 ‚Äî Use the original dataframe (`df`) above and Filter to Germany and compute RFM
 
1) Filter `Country == "Germany"`  
2) Compute Recency (days since last invoice), Frequency (# unique invoices), Monetary (sum of amount)

In [30]:
# 1) Filter to Germany
df_de = df[df['Country'] == "Germany"]

# 2) Compute RFM
rfm_de = (
    df_de.groupby("Customer ID")
          .agg(
              Recency=("InvoiceDate", lambda s: (snapshot_date - s.max()).days),
              Frequency=("Invoice", "nunique"),
              Monetary=("line_total", "sum")
          )
          .reset_index()
)

rfm_de.head()

   Customer ID  Recency  Frequency  Monetary
0        12426      194          3   1311.41
1        12427       11          5   1011.87
2        12468      143         10   3624.55
3        12471        2        129  37948.61
4        12472       30         37  16956.69

### Step 2 ‚Äî Score R, F, M and label segments

1) Create R, F, M scores (quartiles)  
2) Combine into `RFM_Score`  
3) Label segments with simple, explainable rules

In [35]:
# Helper for qcut with few uniques
def safe_qcut(x, q, labels):
    try:
        return pd.qcut(x.rank(method="first"), q, labels=labels)
    except ValueError:
        return pd.Series([labels[len(labels)//2]] * len(x), index=x.index)

# Scores (fill in)
r_scores = pd.qcut(rfm_de["Recency"], 4, labels=[4,3,2,1])
f_scores = safe_qcut(rfm_de['Frequency'].rank(method='first'), 4, labels=[1,2,3,4])
m_scores = safe_qcut(rfm_de['Monetary'].rank(method='first'), 4, labels=[1,2,3,4])  

rfm_de["R_score"] = r_scores.astype(int)
rfm_de["F_score"] = f_scores.astype(int)  
rfm_de["M_score"] = m_scores.astype(int)
rfm_de["RFM_Score"] = rfm_de["R_score"]  + rfm_de["F_score"] + rfm_de["M_score"]

 
 #Feel free to change the labels if you like :)
def label_rfm(row):
    r,f,m = row["R_score"], row["F_score"], row["M_score"]
    if r>=3 and f>=3 and m>=3:
        return "Champions"
    if r>=3 and f>=2:
        return "Loyal"
    if r<=2 and f>=3 and m>=3:
        return "At-Risk Loyalists"
    if r<=2 and f<=2 and m<=2:
        return "Lost"
    return "Others"

rfm_de["Segment"] = rfm_de.apply(label_rfm, axis=1)
rfm_de

,Customer ID,Recency,Frequency,Monetary,R_score,F_score,M_score,RFM_Score,Segment
0,12426,194,3,1311.41,1,2,2,5,Lost
1,12427,11,5,1011.87,4,2,2,8,Loyal
2,12468,143,10,3624.55,2,3,3,8,At-Risk Loyalists
3,12471,2,129,37948.61,4,4,4,12,Champions
4,12472,30,37,16956.69,3,4,4,11,Champions
...,...,...,...,...,...,...,...,...,...
102,13814,56,5,2239.07,2,3,3,8,At-Risk Loyalists
103,13815,22,10,7285.79,3,4,4,11,Champions
104,13816,23,4,555.04,3,2,1,6,Loyal
105,13817,29,2,382.98,3,1,1,5,Others
106,14335,16,2,468.26,4,2,1,7,Loyal

### Step 3 ‚Äî Summarize segments and propose actions

1) Count customers per segment  
2) Compute total Monetary per segment (optional)  
3) Suggest 1 concrete action per major segment for **Germany**

In [33]:
seg_counts_de = rfm_de["Segment"].value_counts().rename_axis("Segment").to_frame("Customers")
seg_value_de  = rfm_uk.groupby("Segment")["Monetary"].sum().to_frame("Total_Monetary").sort_values("Total_Monetary", ascending=False)

display(seg_counts_de)
display(seg_value_de)

                   Customers
Segment
Champions                 30
Lost                      25
Others                    22
Loyal                     17
At-Risk Loyalists         13

                   Total_Monetary
Segment
Champions            1.071414e+07
At-Risk Loyalists    1.697792e+06
Others               5.053692e+05
Loyal                4.904536e+05
Lost                 3.986659e+05

There is a lot of lost customers in Germany than the UK, and the number of customers who are loyal and at risk loyatists is pretty, the company should focus more one retaining those customers because the risk of losing money retaining those one is lower than the lost customers. 
After finding the total monetary value for each segment, it clear that the champions customers are spending the most amount of money, so one suggestion will to continue keeping them by prosing them memberships, or VIP perks.

## Wrap‚ÄëUp (10 mins): Turning RFM into Action

Students:  Be prepared to compare UKs vs. Germany's RFM/insights :)

- **Explainability:** RFM is transparent‚Äîevery stakeholder can understand Recency, Frequency, Monetary.
- **Actionability:** Map segments to clear plays:
  - **Champions:** VIP perks, early access, referrals
  - **Loyal:** Tiered rewards, personalized bundles
  - **At‚ÄëRisk Loyalists:** Win‚Äëback offers, friction survey
  - **Lost:** Lightweight reactivation or exit survey
- **Caveats:** Monetary can be negative if refunds dominate‚Äîdecide whether to clamp at 0 for your use case.
- **Next steps:**  
  - Compare countries or channels;  
  - Try deciles (1‚Äì10) for finer splits;  
  - Track segment movement month‚Äëover‚Äëmonth.