# M1L5 More EDA with Pandas 

This notebook will guide you through some essential data manipulation techniques using the Pandas library in Python. We'll be working with the Austin Animal Center Intakes dataset, which contains information about animals entering the Austin Animal Center.

### **Dataset:** [Austin Animal Center Intakes](https://catalog.data.gov/dataset/austin-animal-center-intakes) -- This is also in your data folder 

### **Objectives:**

 1.  Load and explore the dataset.
 2.  Use `groupby()` to aggregate data.
 3.  Create contingency tables using `crosstab()`.
 4.  Identify and handle duplicate entries.

## Step 1:  Import pandas and numpy

In [22]:
#Import packages 

import pandas as pd
import numpy as np

## Step 2:  Load in the data and save it as `df`

In [23]:
df = pd.read_csv('animalData.csv')

## Step 3:  Look at the data (can you think of some methods to do this)

In [24]:
df.head(50)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
5,A664238,NaN,10/01/2013 09:33:00 AM,October 2013,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,American Shorthair Mix,Black/White
6,A664234,NaN,10/01/2013 10:37:00 AM,October 2013,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
7,A664256,*Donnie,10/01/2013 10:59:00 AM,October 2013,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,17 years,Domestic Shorthair Mix,Brown Tabby/White
8,A664257,Pippin,10/01/2013 11:01:00 AM,October 2013,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,Podengo Pequeno Mix,Black
9,A664266,NaN,10/01/2013 11:09:00 AM,October 2013,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff
10,A664258,Sylvio,10/01/2013 11:15:00 AM,October 2013,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
11,A648744,Claire,10/01/2013 11:15:00 AM,October 2013,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
12,A664260,NaN,10/01/2013 11:21:00 AM,October 2013,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
13,A664261,NaN,10/01/2013 11:21:00 AM,October 2013,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
14,A651630,Heather,10/01/2013 11:23:00 AM,October 2013,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan
15,A664259,*Petunia,10/01/2013 11:25:00 AM,October 2013,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,Pit Bull Mix,Black
16,A664269,*Bismark,10/01/2013 11:28:00 AM,October 2013,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Great Pyrenees Mix,White
17,A664262,NaN,10/01/2013 11:45:00 AM,October 2013,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
18,A664263,NaN,10/01/2013 11:45:00 AM,October 2013,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
19,A664264,*Mason,10/01/2013 11:51:00 AM,October 2013,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
20,A664265,*Dixon,10/01/2013 11:51:00 AM,October 2013,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
21,A664267,*Asti,10/01/2013 11:59:00 AM,October 2013,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Pit Bull Mix,White/Black
22,A664268,*Kochka,10/01/2013 12:05:00 PM,October 2013,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue
23,A664271,NaN,10/01/2013 12:35:00 PM,October 2013,Spirit Of Texas in Austin (TX),Stray,Normal,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
24,A664272,*Grace,10/01/2013 01:12:00 PM,October 2013,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown
25,A664273,Buffy,10/01/2013 01:32:00 PM,October 2013,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Dachshund/Chihuahua Shorthair,Brown
26,A639030,Cate,10/01/2013 01:36:00 PM,October 2013,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,German Shepherd Mix,Tan
27,A664253,Moose,10/01/2013 01:44:00 PM,October 2013,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown
28,A664274,Estrella,10/01/2013 01:48:00 PM,October 2013,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,8 years,Siberian Husky Mix,Buff
29,A658012,Lucio,10/01/2013 01:48:00 PM,October 2013,1505 Darold Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
30,A636021,Sera,10/01/2013 02:12:00 PM,October 2013,1156 W Cesar Chavez in Austin (TX),Public Assist,Normal,Dog,Spayed Female,1 year,Pit Bull Mix,Brown
31,A664275,Mcdermot,10/01/2013 02:12:00 PM,October 2013,4905 Alf in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair Mix,Tricolor
32,A664277,*Pogo,10/01/2013 02:12:00 PM,October 2013,4905 Alf in Austin (TX),Stray,Normal,Dog,Intact Female,8 months,Chihuahua Shorthair Mix,White/Brown
33,A664280,Coco,10/01/2013 02:34:00 PM,October 2013,W Pflugerville Pkwy/Zola Ln in Pflugerville (TX),Stray,Normal,Dog,Spayed Female,6 years,Miniature Poodle Mix,Apricot
34,A660220,Jade,10/01/2013 02:35:00 PM,October 2013,Austin (TX),Euthanasia Request,Injured,Dog,Spayed Female,1 year,Yorkshire Terrier/Miniature Poodle,Gray
35,A634503,Otter,10/01/2013 02:49:00 PM,October 2013,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan
36,A664281,NaN,10/01/2013 03:13:00 PM,October 2013,14824 Falling Stone Ln in Travis (TX),Stray,Normal,Cat,Intact Male,2 years,Domestic Shorthair Mix,Brown Tabby
37,A664282,NaN,10/01/2013 03:13:00 PM,October 2013,14824 Falling Stone Ln in Travis (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Longhair Mix,Brown Tabby
38,A664283,Juliet,10/01/2013 03:20:00 PM,October 2013,1001 Bouldin Ave in Austin (TX),Stray,Nursing,Cat,Intact Female,1 year,Domestic Shorthair Mix,Black/White
39,A664284,NaN,10/01/2013 03:20:00 PM,October 2013,1001 Bouldin Ave in Austin (TX),Stray,Nursing,Cat,Intact Male,0 years,Domestic Shorthair Mix,Black/White
40,A664285,NaN,10/01/2013 03:20:00 PM,October 2013,1001 Bouldin Ave in Austin (TX),Stray,Nursing,Cat,Intact Male,0 years,Domestic Shorthair Mix,Black
41,A664286,Sugar,10/01/2013 03:38:00 PM,October 2013,16310 Bratton Ln in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Chihuahua Shorthair Mix,White/Brown
42,A664287,Daisy,10/01/2013 03:38:00 PM,October 2013,16310 Bratton Ln in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Chihuahua Shorthair Mix,Brown/White
43,A664288,NaN,10/01/2013 03:52:00 PM,October 2013,11612 Gemmer St in Del Valle (TX),Stray,Normal,Cat,Intact Male,2 years,Domestic Shorthair Mix,Blue/White
44,A659642,*Trevor,10/01/2013 03:58:00 PM,October 2013,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Dachshund/Basset Hound,Brown Brindle
45,A664289,NaN,10/01/2013 04:03:00 PM,October 2013,7903 Taza Trl in Austin (TX),Stray,Normal,Cat,Intact Female,3 months,Domestic Shorthair Mix,Brown Tabby/White
46,A664292,NaN,10/01/2013 04:03:00 PM,October 2013,7903 Taza Trl in Austin (TX),Stray,Normal,Cat,Intact Female,9 months,Domestic Shorthair Mix,Brown Tabby/White
47,A664293,*Romeo,10/01/2013 04:03:00 PM,October 2013,7903 Taza Trl in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Domestic Medium Hair Mix,Black/White
48,A664294,*Juliet,10/01/2013 04:03:00 PM,October 2013,7903 Taza Trl in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
49,A664295,*Paris,10/01/2013 04:03:00 PM,October 2013,7903 Taza Trl in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Domestic Medium Hair Mix,Brown Tabby/White

## Step 4:  Count up how many missing values exist in each column (you would need to chain two methods here -- one to check for missing values and the other to sum missing values up)

In [25]:
print(df.isnull().sum())

Animal ID               0
Name                49991
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

## Step 5:  Count up the amount of animals by Animal Type

In [26]:
animal_counts = df['Animal Type'].value_counts()
print(animal_counts)

Animal Type
Dog          94608
Cat          69324
Other         8968
Bird           878
Livestock       34
Name: count, dtype: int64

## Step 6:  Create a crosstab showing the count of animal types for each intake condition.

In [43]:
cross_table = pd.crosstab(df['Animal Type'], df['Intake Condition'])
cross_table

Intake Condition,Aged,Agonal,Behavior,Congenital,Feral,Injured,Med Attn,Med Urgent,Medical,Neonatal,Neurologic,Normal,Nursing,Other,Panleuk,Parvo,Pregnant,Sick,Space,Unknown
Animal Type,,,,,,,,,,,,,,,,,,,,
Bird,0,0,0,0,0,249,0,0,0,1,0,603,0,8,0,0,0,17,0,0
Cat,77,3,8,0,133,4339,27,11,213,1467,5,57032,2559,110,1,0,41,3287,4,7
Dog,445,1,73,1,11,5000,60,10,391,476,6,83773,1214,229,0,11,129,2756,0,22
Livestock,0,0,0,0,0,2,0,0,0,1,0,28,0,0,0,0,0,3,0,0
Other,3,0,0,0,1,1215,0,0,10,26,2,5705,105,6,0,0,0,1876,0,19

## Step 7:  Check for duplicate Animal IDs (pay close attention to the syntax here)

In [44]:
duplicate_ids = df['Animal ID'].duplicated().sum()
print(duplicate_ids)

17525

## Practice Joining Data

### Scenario 1
You have customer data split into two different files (DataFrames),
and you want to combine them into a single DataFrame for analysis.

In [ ]:
# Run the cell without changes to create the two dataframes 

customers_part1_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                   'FirstName': ['Alice', 'Bob', 'Charlie'],
                                   'City': ['Anytown', 'Otherville', 'Smallburg']})

customers_part2_df = pd.DataFrame({'CustomerID': [104, 105, 106],
                                   'FirstName': ['David', 'Emily', 'Frank'],
                                   'City': ['Bigcity', 'Townsville', 'Villageton']})

### Scenario 1 Task:  Use `pd.concat()` to stack the two dataframes above (afterall they have the same columns)

In [48]:
all_customers_df = pd.concat([customers_part1_df,customers_part2_df])
all_customers_df

   CustomerID FirstName        City
0         101     Alice     Anytown
1         102       Bob  Otherville
2         103   Charlie   Smallburg
0         104     David     Bigcity
1         105     Emily  Townsville
2         106     Frank  Villageton

### Scenario 2

Combining customer details and loyalty points.

In [51]:
# Run the cell without changes to create the two dataframes 

customer_details_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                    'Name': ['Alice', 'Bob', 'Charlie'],
                                    'City': ['Anytown', 'Otherville', 'Smallburg']})

loyalty_points_df = pd.DataFrame({'CustomerID': [101, 102, 103],
                                  'Points': [100, 250, 50]})

### Scenario 2 Task :  Merge the DataFrames on CustomerID

In [59]:
merged_customer_df = pd.merge(customer_details_df,loyalty_points_df,on='CustomerID')
merged_customer_df

   CustomerID     Name        City  Points
0         101    Alice     Anytown     100
1         102      Bob  Otherville     250
2         103  Charlie   Smallburg      50